#login-container {
    height: 100vh;
    display: flex;
}
#login-background-image {
    height: 100%;
    width: 70%;
    background-image: url(../images/stairs.jpg);
    background-size: cover;
}
#login-form-wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
#login-container #login-form {
    padding: 0 20px;
}
#login-container #login-form-action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
