*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-wrapper input {
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    width: 100%;
}
.input-wrapper {
    margin-bottom: 10px;
}
.btn {
    padding: 7px 10px;
    background-color: #037bfe;
    color: #ffffff;
    border-width: 1px;
    border-radius: 3px;
}
.cursor-pointer{
    cursor: pointer;
}
.title{
    margin: 40px 0 25px 0;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #757575;
    font-weight: 500;
}
.err{
    color:red;
}